.no-tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 34px;
  background-color: #FFF;
  border-radius: 15px;
}
.no-tables__p {
  text-align: center;
  font-size: 13px;
  color: #202123;
}
.no-tables__p b {
  font-weight: 700;
}