.detail__flex-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: calc(100vh - var(--header-height-size) - var(--padding-bottom-size));
}
.detail__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail__export-and-back {
  display: flex;
  gap: 5px;
  align-items: center;
}
.detail__content {
  border-radius: 16px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  overflow: auto;
}
.detail__content::-webkit-scrollbar {
  display: none;
}
.detail__table {
  width: 100%;
  height: 100%;
}

@media (min-width: 1024px) {
  .detail__content {
    overflow: hidden;
  }
}