.header {
  padding: 16px 0;
}
.header__breadcrumb,
.header__breadcrumb-item {
  display: flex;
  gap: 15px;
}
.header__breadcrumb-item {
  align-items: center;
}
.header--breadcrumb-link {
  font-size: 14px;
  line-height: 16px;
  color: var(--blue);
}
.header--breadcrumb-link:not(.current) {
  font-weight: 400;
}
.header--breadcrumb-link.current {
  font-weight: 700;
}
img {
  display: block;
}