@import url('variables.css');

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.rows,
.row {
  margin: 0 auto;
  max-width: 1440px;
}

.columns,
.column {
  padding: 0 15px;
}

body {
  background-color: var(--background);
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  background-color: transparent;
}